# Database
DATABASE_URL=postgresql://neondb_owner:npg_l5kpFSu1WfOY@ep-small-morning-a1ngdpmf-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# AWS Cognito
AWS_REGION=ap-south-1
COGNITO_USER_POOL_ID=ap-south-1_L5ECqz3kt
COGNITO_CLIENT_ID=4gs73ppm5ksn0u5iul8dq3hiun
COGNITO_DOMAIN=https://ap-south-1l5ecqz3kt.auth.ap-south-1.amazoncognito.com

